{% for status, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-message text-white p-3 text-center rounded shadow-md opacity-90 font-semibold
        {% if status == 'success' %}
            bg-green-400
        {% elseif status == 'error' %}
            bg-red-500
        {% endif %}
        " data-status="{{ status }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
