<div id="adminNavbar" class="p-3 flex bg-primary-700 text-white items-center gap-3 flex-wrap">
    <p class="mx-auto font-semibold text-lg">Admin Menu</p>
    <div class="flex gap-4 justify-center flex-grow items-center">
        <a href="{{ path('app_category_index') }}" class="hover:font-semibold hover:scale-105 hover:text-shadow-md">Catégories</a>
        <a href="{{ path('app_user_index') }}" class="hover:font-semibold hover:scale-105 hover:text-shadow-md">Utilisateurs</a>
        <a href="{{ path('app_wish_admin_index') }}" class="hover:font-semibold hover:scale-105 hover:text-shadow-md">Tous les wishes</a>
    </div>
</div>