{% extends 'base.html.twig' %}

{% block title %}
    À propos | {{ parent() }}
{% endblock %}

{% block body %}
    <section class="mx-auto px-2 py-5 w-full sm:w-2/3">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium ad alias aliquam aperiam architecto, aut blanditiis consequatur corporis ducimus eligendi enim esse expedita fuga fugit harum id illum impedit incidunt ipsum maiores modi molestiae nisi nulla perferendis praesentium quae quaerat quis repudiandae sapiente sit tempore ut voluptates! Animi consectetur corporis, delectus eius eligendi fugit nobis praesentium veniam? Aperiam assumenda debitis, delectus dolore, eius enim eum minima molestiae nulla qui quibusdam rem totam voluptate! Ab alias, aliquid aspernatur assumenda commodi delectus, dicta dolor earum eum fuga fugit, in ipsa laborum maiores molestiae necessitatibus nemo nihil possimus provident quam quas qui reprehenderit similique soluta tenetur unde ut. Atque cupiditate dignissimos eius et fuga minima non rem tempore! Adipisci aspernatur at delectus dignissimos, ducimus error, facilis ipsum nemo non nostrum nulla perferendis quas. A architecto commodi cum dolores libero maxime, molestiae molestias perspiciatis qui quia quidem repellat reprehenderit. Asperiores dignissimos dolores magni nam officia velit voluptatem voluptatum. Accusamus ad asperiores assumenda atque dicta eveniet impedit iste iusto minima molestias, mollitia porro, quam quos repudiandae veniam vitae voluptatem! Dicta, error, laudantium! Ab aperiam deleniti, ea facere harum, itaque laudantium minima mollitia nobis obcaecati odio pariatur perferendis possimus provident quaerat tempora ullam ut veritatis?</p>
    </section>
{% endblock %}