{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}
<section class="mx-auto px-2 pt-5 pb-16" data-turbo="false">
    <h2 class="text-4xl text-center font-semibold my-4">Ceci est la page d'accueil !</h2>
        <div class="text-center my-6">
            <a href="{{ path('app_wish_new') }}" class="btn-primary p-3">Nouveau souhait</a>
        </div>

        <div class="text-center">
            <span class="text-lg font-semibold me-4">Trier :</span>
            <label for="searchInput" class="me-2">Rechercher </label>
            <input type="text" name="searchInput" id="searchInput" class="p-1 border rounded" data-search-url="{{ path('app_wish_index') }}">
        </div>

        <div id="wishesContainer">
            {% include 'main/_wishes_list.html.twig' %}
        </div>
</section>
{% endblock %}