{% extends 'base.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block body %}
<section class="mx-auto px-2 pt-5 pb-16">
    <h2 class="text-4xl text-center font-semibold my-4 text-shadow-lg">Accueil</h2>
        <div class="text-center my-6">
            <a href="{{ path('app_wish_new') }}" class="btn-primary p-3">Nouveau souhait</a>
        </div>

        {% include 'partials/search_comp.html.twig' with {
            'searchUrl': path('app_home')
        } %}

        <div id="wishesContainer">
            {% include 'partials/_wishes_list.html.twig' %}
        </div>
</section>
{% endblock %}