<form action="{{ path('app_category_delete', {id: category.id}) }}" method="post">
    <input type="hidden" value="{{ csrf_token('delete' ~ category.id) }}" name="_token">
    <button class="btn-danger">Supprimer</button>
</form>