<form method="post" action="{{ path('app_wish_delete', {'id': wish.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer ce souhait ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ wish.id) }}">
    <button class="btn-danger">Supprimer</button>
</form>
