<form action="{{ path('app_user_delete', {id: user.id}) }}" method="post">
    <input type="hidden" value="{{ csrf_token('delete' ~ user.id) }}" name="_token">
    <button class="btn-danger">Supprimer</button>
</form>